@charset "UTF-8";


/* COMMON */

html {
    font-size: 100%;
}

body {
    font-family: "YU Gothic Medium", YuGothic, sans-serif;
    line-height: 1.7;
    color: #333;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

section {
    z-index: 2;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 8px;
    margin-top: 95px;
}

.next-page {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.next-page p a {
    margin: 22px;
    background-color: #444;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 1px #ccc;
}







/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0 auto;
    height: 55px;
    background-color: #999;
    z-index: 3;
}

.header .left h1 {
    font-size: 1.5rem;
    margin-top: 5px;
    padding: 3px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header .left h1 a {
    color: #fff;
}

.header .right nav ul {
    display: flex;
    justify-content: space-between;
}

.header .right nav ul li {
    margin-right: 18px;
    margin-top: 10px;
    padding: 3px;
}

.header .right nav ul li a {
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header .right nav ul li a:hover {
    color: #2C7CFF;
}





.footer {
    background-color: #999;
    bottom: 0;
    padding: 8px;
}

.footer .copylight {
    text-align: center;
}

.footer .copylight p small {
    color: #fff;
}




/* INDEX */


#home {
    margin-bottom: 200px;
    height: 915px;
}

#home .message {
    height: 650px;
    background: -moz-linear-gradient(top, #FFC778, #FFF);
    background: -webkit-linear-gradient(top, #FFC778, #FFF);
    background: linear-gradient(to bottom, #FFC778, #FFF);
}

#home .message h2 {
    text-align: center;
    padding-top: 200px;
    font-size: 5.5rem;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    /* text-shadow: 2px 2px 1px #ddd; */
}


.menu-title {
    text-align: center;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menus ul {
    display: flex;
    justify-content: center;
}

.menus ul li {
    padding: 10px;
}

.menus ul li a {
    color: #999;
    font-size: 1.25rem;
    transition: .4s;
}

.menus ul li a:hover {
    color: #2C7CFF;
}





/* PORTFOLIO */

#portfolio {
    width: 100%;
}

.links {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 40px;
}

.links a img {
    box-shadow: 4px 4px 2px #ccc;
    transition: .4s;
    width: 50%;
    max-width: 100%;
    height: auto;
}

.links a img:hover {
    transform: scale(1.05);
    opacity: .7;
}

.links h4 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-family: 'M PLUS 1p';
    color: #555;
}

.links p {
    margin-bottom: 140px;
}

.links .old p {
    margin-bottom: 30px;
}




/* CONTACT */

#contact {
    width: 100%;
    height: 1020px;
    background: -moz-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%, #748af8);
    background: -webkit-linear-gradient(top, #FFF, #FFC778 30%, #F89174 60%, #748af8);
    background: linear-gradient(to bottom, #FFF, #FFC778 30%, #F89174 60%, #748af8);
}

.means {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 40px;
}

.means p {
    padding: 20px;
    font-size: 1.125rem;
}

.means p a {
    color: #333;
    text-shadow: 2px 2px 1px #ddd;
    transition: .4s;
}

.means p a:hover {
    opacity: .4;
}



@media screen and (max-width: 781px) {
    .links a img {
    width: 70%;
    }
}






@media screen and (max-width: 480px) {

    .links a img {
    width: 90%;
    }

    .links h4 {
    font-size: 1.125rem;
}
}